/* .slide-container {
  height: 500px;
  background-color: aqua;
}

.each-slide {
  height: 500px;
}

.bg {
  width: 100%;
  height: 100%;
  background: #fff center center/cover no-repeat;
} */

.react-slideshow-container .default-nav {
  background: rgba(66, 66, 66, 0.45) !important;
  width: 30px;
  height: 100px !important;
  color: #fff;
  border-radius: 0 !important;
}
